body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(102, 158, 46);
}

p {
    color: black;
    font-size: 30px;
    font-style: oblique;
}

#sobre {
    font-size: medium;
}

nav {
    background-color: rgb(255, 0, 98);
    padding: 7px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul {
    display: flex;
    gap: 20px;
}

.link_menu {
    color: aliceblue;
    text-decoration: none;
}

.item_menu {
    list-style: none;

}

label {
    padding: 4px;
    display: block;
    margin-bottom: 5px;

}

input,
textarea,
select {
    padding: 10px;
    border-radius: 7px;
    font-size: 19px;
    outline: none;
    transition: border 0.3s;
    border-radius: 50px;
}

.divi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

button {
    height: 50px;
    width: 100%;
    border-radius: 50px;
}
form {
    background-color: gold
}