p {
    color: black;
    font-size: 30px;
    font-style: oblique;
}

#sobre {
    font-size: medium;
}

nav {
    background-color: rgb(255, 0, 98);
    padding: 7px;
}

.link_menu {
    color: aliceblue;
    text-decoration: none;
}

.item_menu{
    list-style: none;
}


