.paragrafo{
    color:black;
}
.paragrafo{
    font-size: 30px;
}
.paragrafo{
    font-style: oblique;
}
.paragrafo{
    border-style:double;
}
.paragrafo{
    background-color:blueviolet;
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
